body {
	font-size: 12px;
	font-family:"宋体",Arial, Helvetica, sans-serif;
	color: #4c4c4c;
	background-color: #fff;
	background-image:url(http://img.kx168.cn/topbg_02.jpg););
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a {
	font-size: 12px;
	color: #4c4c4c;
}
a:focus{outline:none;}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #4c4c4c;
}
a:hover {
	text-decoration: underline;
	color: #26870c;
}
a:active {
	text-decoration: none;
	color: #4c4c4c;
}
.clr{clear:both; height:0; line-height:0; font-size:0; }
img,input,ul{margin:0; padding:0; list-style-type:none; font-size:12px; border:0;}

.main_div{width:1000px; margin:0 auto;}
.header{height:81px; border:0; }
.logo{width:233px; height:81px; float:left;border:0;}
.top_search{width:291px; height:73px; float:left; padding-top:8px;  padding-left:15px;}
.t_s_hotkey{ height:28px; line-height:28px;}
.t_s_hotkey a{color:#9c9c9c; margin-right:8px;}
.top_saerch_inp{ width:190px; padding-left:25px; height:25px; line-height:25px; background:#fff url(http://img.kx168.cn/kx168_13.jpg) 4px 3px no-repeat; float:left;border:#b7c7d8 1px solid; border-right:0; color:#83aed0;}
.top_search_sub{width:56px; height:27px; border:#b7c7d8 1px solid; cursor:pointer; float:left; background-image:url(http://img.kx168.cn/kx168_10.jpg)}
.top_ad{width:460px; float:left; height:72px; padding-top:8px;}
.top_nav{height:34px; line-height:30px; text-align:right; color:#7a7a7a; }
.top_nav a{color:#7a7a7a;padding-left:5px; padding-right:5px;}
a.top_nav_more{padding-right:15px; background:url(http://img.kx168.cn/fl_05.jpg) 35px center no-repeat;}
a.top_nav_more1{padding-right:15px; background:url(http://img.kx168.cn/fl_05.jpg) 35px center no-repeat;}
.top_nav_cover{ position:absolute; width:220px; margin-left:-200px; margin-top:-10px; display:none;}
.top_nav_cover_title{height:30px; width:220px; }
.top_nav_cover_title a{background-color:#fff; display:block; height:26px; width:33px; float:right; margin-top:4px; border:#e2e2e2 1px solid; border-bottom:0; position:absolute; margin-left:-55px; text-align:left;}
.top_nav_cover_con{background-color:#fff; padding:8px; line-height:2.2em; border:#e2e2e2 1px solid; min-height:1px; _height:1px;}
.top_nav_cover_con a{width:57px; float:left; text-align:left;}

.nav{width:1000px; margin:0 auto; clear:both; height:41px; line-height:41px; margin-bottom:5px;}
.nav_li{float:left; background:url(http://img.kx168.cn/rrr_15.jpg) right center no-repeat;}
.nav_li a{font-size:14px; text-decoration:none; color:#2e5576; padding-right:12px; margin-right:12px; background:url(http://img.kx168.cn/fl_18.jpg) right center no-repeat; padding-left:12px;}
.nav_li a.act{background:url(http://img.kx168.cn/fl_13.jpg) repeat-x; margin-right:2px;display:block; border:#dddddd 1px solid; border-bottom:0; font-weight:bold; color:#333333;}

.fl_nav_hover{ position:absolute; width:174px; padding-top:31px; z-index:99; margin-top:5px; display:none; *margin-top:-10px;}
.fl_nav_hover_title{height:31px; line-height:31px; width:80px; position:absolute; margin-top:-31px;}
.fl_nav_hover_title a:link,.fl_nav_hover_title a:visited{ width:66px; padding-left:12px; padding-right:12px; display:block; height:31px; line-height:31px; color:#fff; background:#517597 url(http://img.kx168.cn/ddd_03.jpg) right center no-repeat;}
.fl_nav_hover_con{padding:5px; min-height:1px; _height:1px; }
.fl_nav_hover_con ul li{background:none; height:30px; line-height:30px; width:82px; float:left; }
.fl_nav_hover_con ul li a{background:none; font-size:12px; color:#fff; margin:0; height:30px; line-height:30px; display:block; text-decoration:none;}
.fl_nav_hover_con ul li a:hover{background-color:#6891b8;text-decoration:none;}
.fl_nav_hover_con ul li a:visited{_color:#fff;text-decoration:none;}

.main_con{padding-top:6px;}
.main_1{padding-bottom:6px;}
.main_tlad{padding-bottom:6px}
.topnews_left{width:427px; height:281px; float:left; border:#e5f1f8 1px solid; border-right:0; background-image:url(http://img.kx168.cn/fl_25.jpg); padding-left:25px; padding-top:20px;}
.topnews_left a{ font-size:14px;color:#16387C}
.topnews_right{ width:547px; height:301px; float:left;}
.newslistul{line-height:2.2em;}
.btitle{font-size:14px; font-weight:bold;}
.topnews_pic{width:545px; height:265px; border:#7997aa 1px solid; overflow:hidden; position:relative;}
.topnews_pic img{width:545px; height:265px;}
.topnews_annouce{width:475px; height:35px; border:#e5f1f8 1px solid; border-top:0; border-left:#f7fcff 1px solid; background:#f7fcff url(http://img.kx168.cn/fl_31.jpg) left center no-repeat; line-height:35px; padding-left:70px;}
.licover{position:absolute; height:40px; line-height:40px; background-color:#000000; width:545px; margin-top:225px;filter:alpha(Opacity=30);-moz-opacity:0.3;opacity: 0.3; z-index:1;}
.licover_2{position:absolute; height:40px; line-height:40px; margin-top:225px;  z-index:2; padding-left:15px;}
.licover_2 a,.licover_2 a:visited{color:#fff; font-size:14px; font-weight:bold;}

.main_1_left{width:774px; float:left; padding-right:6px;}
.main_1_right{width:220px; float:left;}
.main_list{width:384px; float:left;}
.pl6px{padding-left:6px;}
.topnews_left .newslistul li{ width:420px; height:27px; overflow:hidden}
.main_list .newslistul li a{background:url(http://img.kx168.cn/lido_59.jpg) 0px 5px no-repeat; padding-left:12px;}
.main_list .newslistul li a.btitle{background-image:none;}
.list_title{height:40px; line-height:40px; font-family:"微软雅黑",Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; border-bottom:#b6b6b6 2px solid;}
.list_title span{ position:absolute; margin-left:320px;}
.list_title span a{font-family:"宋体"; font-size:12px; font-weight:normal; color:#999;}

.main_1_right .list_main{ background-color:#f8f8f8; border:#e4e4e4 1px solid; padding:5px;}
.main_1_right .list_title{ border:0; padding-left:5px; font-size:14px; font-family:"宋体";}
.main_1_right .list_title span{margin-left:165px;}
.xline{height:1px; line-height:1px; font-size:1px; border-bottom:#e4e4e4 1px solid; clear:both; padding-top:5px; margin-bottom:4px;}
.jd_pic{width:80px; height:90px; padding:2px; background-color:#fff; border:#eee 1px solid; float:left;}
.jd_pic img{width:80px; height:90px;}
.jd_picr{width:110px; float:left; padding-left:6px; line-height:1.7em; color:#999999;}
.jd_picr a{font-weight:bold; color:#333333;}
.jd_pic2{width:100px; float:left;}
.jdpic2_pic{width:88px; height:88px; margin:0 auto; background-color:#fff; border:#eee 1px solid; padding:2px;}
.jdpic2_pic img{width:88px; height:88px;}
.jdpic2_text{width:88px; margin:0 auto; line-height:1.7em; height:47px; text-align:center;}
.newslistul li em{font-style:normal; background-color:#517597; padding:2px; padding-left:5px; padding-right:5px; margin-right:5px; color:#fff;}

.main_1_left .list_con{padding-top:6px;}
.list_con .newslistul li{ width:380px; height:27px; overflow:hidden}
.list_con a{ font-size:14px; color:#16387C}
.newspic{background-color:#f9f9f9;}
.newspic_pic{width:118px; height:80px; background-color:#fff; border:#eee 1px solid; padding:2px; float:left; margin-bottom:6px; margin-left:5px; margin-top:5px;}
.newspic_pic img{width:118px; height:80px;}
.newspic_text{width:243px; float:left; line-height:1.7em; padding-left:8px; color:#888; padding-top:5px;}
.newspic_text a{font-weight:bold; color:#333333; font-size:14px;}

/*文章显示*/
.view_title{ height:60px; line-height:60px; text-align:center; font-size:26px; font-weight:bold; color:#000000;}
.view_info{text-align:center; padding-bottom:14px; color:#666666; border-bottom:#ccc 1px dotted;}
.view_info a{color:#333;}
.viewcontent{width:750px; margin:0 auto; padding:0;}
.summary {background-color:#F6FAFD;border: 1px solid #DCDDDD;font-size: 14px;line-height: 23px;margin: 15px 0 0;padding: 12px 5px 6px;text-align: justify;text-indent: 2em;}/*内容摘要*/
.view_con{padding-top:10px; line-height:2em; font-size:14px; color:#333333;}
.view_con a{color:#333; font-size:14px;}
.view_share{text-align:left; padding-top:25px; padding-bottom:20px; border-bottom:#ccc 1px dotted;}
.view_weibo{ padding-top:20px; font-size:14px; font-weight:bold; padding-bottom:20px; border-bottom:#ccc 1px dotted;}
.view_weibo a{font-size:14px; font-weight:normal;}
.view_weibo span{position:absolute; margin-left:170px; padding:0; margin-top:-6px;}
.view_other{padding-bottom:10px; border-bottom:#ccc 1px solid;}
.view_other_title{ height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#333333;}
.view_other ul li{color:#999999;}
.view_other ul li a{margin-right:20px;}
.view_taobaoad{padding-top:15px;}
.view_fl{border:#ccc 1px solid; margin-top:6px;}
.view_fl_title{height:35px; line-height:35px; background-color:#f8f8f8;}
.view_fl_title a{ padding-left:10px; padding-right:10px; background-color:#f8f8f8; padding-top:11px; padding-bottom:11px; border-bottom:#ccc 1px solid; border-right:#ccc 1px solid; text-decoration:none;}
.view_fl_title a.act{background-color:#fff; border-bottom:#fff 1px solid; font-weight:bold; color:#000;}
.view_fl_con{padding:15px;}
.vfc_ab_pic{position:absolute; margin-left:360px;}
.vfc_ab_pic_pic{width:115px; height:140px; padding:2px; background-color:#fff; border:#ccc 1px solid;}
.vfc_ab_pic_pic img{width:115px; height:140px;}
.vfc_ad_pic_cover,.vfc_ad_pic_text{width:115px; height:25px; line-height:25px; position:absolute; margin-left:2px; margin-top:118px; color:#fff; z-index:1;}
.vfc_ad_pic_cover{filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;background-color:#000000; }
.vfc_ad_pic_text{z-index:2; text-align:center;}
.vfc_ad_pic_text a{color:#fff;}
.viewflcon_1{width:70%; float:left;border-right:#ccc 1px dotted;}
.viewflcon_2{width:29%; float:left; padding-left:3px; overflow:hidden; height:258px;}
.viewflcon_1 .newslistul{line-height:2.1em;}
.viewflcon_1 .newslistul a{color:#3f3f3f;}
.viewflcon_1 .newslistul .btitle{background:none;}
.blankdiv1{height:10px; line-height:10px; font-size:1px;}
.viewflcon_2_1{padding-left:10px; padding-bottom:10px; padding-right:10px; padding-top:10px; border-bottom:#ccc 1px dotted;}
.vfc_2_1_pic{width:80px; height:110px; float:left; border:#ccc 1px solid; padding:2px; background-color:#fff;}
.vfc_2_1_pic img{width:80px; height:110px;}
.vfc_2_1_text{float:left; width:92px; color:#999999; line-height:1.7em; padding-left:10px;}
.vfc_2_1_text a{font-weight:bold; color:#333333;}
/*文章显示*/

.footer{text-align:center; color:#557faa; line-height:2em; border-top:#dfdfdf 1px solid; padding-top:6px;}
.footer a,.footer a:visited{color:#557faa;}
.footernew{color:#515151;font-size:12px;height:100px;line-height:24px;margin:12px auto 0;overflow:hidden;text-align:center;width:1000px;}
.footheight{height:70px;overflow:hidden;}
.footernew a{color:#515151;text-decoration:none;}
.footernew a.lchot{color:#BD0A01;}
.footernew a:hover{color:#BD0A01;text-decoration:underline;}
.footernew a:visited{color:#515151;}
.footernew div{margin:0 auto;width:546px;}
.footernew p{border:1px solid #D2D2D2;float:left;font-size:12px;height:50px;line-height:20px;margin:6px;padding:0;width:120px;overflow:hidden;}
.footernew .fl{float:left;padding:3px;}
.footernew .fr{float:right;padding:5px 3px 0;width:72px;}}